<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Scada' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="template.css">
</head>
<body>
<div>
<div id="navbar" class="textClass navClass">
<img src="./img/logo.png"></img>
<p class="titleClass">BLOG TITLE</p>
<p>BLOG DESCRIPTION</p>
<p class="linkClass"><a href="http://twitter.com/MYTWITTERUSERNAME"><img src="./img/twitlog.png"></img> @MYTWITTERUSERNAME</a></p>
<p class="linkClass"><a href="http://facebook.com/MYFACEBOOKUSERNAME"><img src="./img/f_logo.png"></img> Facebook</a></p>
</div>
<div id="navbarspacer" class="navClass">
</div>
<div id="contentcontainer">
<div id="titleouter" class="titleClass">
<div id="titleinner">
<p>{{{TITLE}}}</p>
<p class="textClass">{{{ARTICLEPUBDATE}}}</p>
</div>
</div>
<div id="content" class="textClass">
{{{CONTENT}}}
<div class="prev">
{{{PREV}}}
</div>
<div class="next">
{{{NEXT}}}
</div>
</div>
</div>
</div>
</body>
</html>